@model ICollection<Products.Models.Propertie>  



<div class="container">
    <ul>
    @{
        int count = 0;
        foreach (var el in Model)
        {
            count++;
            <li>
                <a href="@el.Link">Link @count</a>   
                </li>
        }
    }
    </ul >
</div>


